.timer {
  margin-bottom: 5rem;
  &_min {
    margin-bottom: 1rem;
  }
  &_container {
    margin: 0 auto;
      width: 600px;
      height: 3rem;
      background-color: #e0dfff;
      border: 1px solid #282c34;
  }

  &_progress {
    height: 3rem;
    background-color: red;
    transition: ease-in-out 300ms;
  }
}
